/* 전체 레이아웃 스타일 */
body {
	font-family: D2Coding, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(246, 245, 242);
}

#wrap{
    width:971px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0;
    margin-right:auto;
    margin-left:auto;
    background-repeat:repeat-y;    
    min-height:780px;
}

#main_img {
	text-align: center;
}

.half-size {
	width: 50%;
}

#front {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

/* bestProduct 스타일 */
#bestProduct {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

#bestProduct #item {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	width: 200px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s, box-shadow 0.3s;
}

#bestProduct #item:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#bestProduct #item img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

#bestProduct #item h3 {
	font-size: 1.2em;
	margin: 10px 0;
	color: #333;
}

#bestProduct #item p {
	color: #888;
	font-size: 1em;
}

/* 페이지네이션 스타일 */
#pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#pagination a, #pagination span {
	display: inline-block;
	padding: 8px 16px;
	margin: 0 2px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #333;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

#pagination a:hover {
	background-color: #ddd;
}

#pagination a.active {
	background-color: #4CAF50;
	color: white;
}

#pagination strong {
	display: inline-block;
	padding: 8px 16px;
	margin: 0 2px;
	border: 1px solid #333;
	background-color: #333;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

#pagination span {
	display: inline-block;
	padding: 8px 16px;
	margin: 0 2px;
	border: 1px solid #ccc;
	text-align: center;
	color: #ccc;
	border-color: #ccc;
	vertical-align: middle;
	border-radius: 5px;
}

a.product-link {
	text-decoration: none;
	color: inherit;
	display: block;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
	transition: box-shadow 0.3s ease-in-out;
}

a.product-link:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.product-link img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

a.product-link h3 {
	margin: 10px 0;
	font-size: 1.2em;
}

a.product-link p {
	color: #555;
	font-size: 1em;
	margin-bottom: 10px;
}